.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: var(--bs-border-radius);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  &--active {
    background-color:  rgba(58, 176, 107, .3);
    color: #16944A;
  }
  &--archived {
    background-color: rgba(217, 217, 217, .3); 
    color: var(--secondary-text-color);
  }
}