.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: var(--bs-border-radius);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  &--active {
    background-color: rgba(58, 176, 107, .3);
    color: #16944A;
  }
  &--archived {
    background-color: rgba(217, 217, 217, .3);
    color: var(--secondary-text-color);
  }
  &--created {
    background-color: rgba(58, 143, 230, .2);
    color: #2E7BD6;
  }
  &--processing {
    background-color: rgba(246, 111, 53, .2);
    color: #F66F35;
  }
  &--completed_success {
    background-color: rgba(58, 176, 107, .3);
    color: #16944A;
  }
  &--completed_failed {
    background-color: rgba(220, 53, 69, .2);
    color: #DC3545;
  }
  &--completed {
    background-color: rgba(58, 176, 107, .3);
    color: #16944A;
  }
  &--confirmed_by_pharmacist {
    background-color: rgba(58, 143, 230, .2);
    color: #2E7BD6;
  }
  &--failed {
    background-color: rgba(220, 53, 69, .2);
    color: #DC3545;
  }
}
