.substance-header {
  & .search-input-anchor {
    max-width: none;
    min-width: 0;
  }
  & .search-input-dropdown {
    max-width: none;
  }
}

.substance-search-dropdown__item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2px;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  background: #fafafa;
  text-align: left;
  transition: all 0.3s;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}

.substance-search-dropdown__name {
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1.2;
}

.add-to-archive {
  padding: 24px;
  background-color: #eaeff2;
  border-radius: 10px;
  margin-top: 24px;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .button {
    min-width: 220px;
  }
}

