.users-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tabs {
  border-bottom: none;
  gap: 8px;
  & .nav-link {
    color: var(--main-text-color);
    padding: 16px 24px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    &.active {
      color: #fff;
      background-color: var(--main-color);
    }
  }
}

.users-search-dropdown__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  background: #fafafa;
  text-align: left;
  transition: all 0.3s;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}

.users-search-dropdown__role {
  font-size: 14px;
  color: var(--second-text-color);
}

.users-search-dropdown__name {
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1.2;
}
