.dashboard-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  background-color: #e5edf5;
  padding: 30px;
  width: 100%;
  min-width: fit-content;
  flex-grow: 1;
  min-height: 100%;
  &-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    height: 100%;
    min-height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(9, 25, 47, 0.15);
  }
}
